{{ 'main-product.css' |  asset_url |  stylesheet_tag }}
<script src="{{ 'main-product.js' |  asset_url }}" ></script>
<div class="product">
    <div class="page-width">
        <div class="grid">
            <div class="grid-with-column--media">
                <div class="main-product--media">
                {% for media in product.media %}
                    <div class="media__img">
                        <img src="{{ media.preview_image |  image_url: width: 800 }}" />

                    </div>
                {% endfor %}
                </div>

            </div>
            <div class="grid-product--content">
                <h1 class="product__title">
                    {{ product.title }}
                </h1>
                <div class="price">
                        {{ price |  money_without_currency }}
                </div>
                <custom-variant class="variant-selector">
                    {% for option in product.options_with_values %}
                    <fieldset class="options">
                        <legend>
                            {{ option.name }}
                        </legend>
                        {% for value in option.values %}
                        <input type="radio" class="option_value" id="{{value }}--{{ forloop.index }}" value="{{ value }}" name="{{ option.name }}"
                        {% if option.selected_value == value or forloop.first %} checked="" {% endif %}>
                        <label for="{{ value }}--{{ forloop.index }}"> {{ value }}</label>
                        
                        {% endfor %}
                        
                    </fieldset>
                    {% endfor %}
                    {%- form 'product', product -%}
                        <input type="hidden"  name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                        <input type="submit" value="Add to car" />
                    {% endform %}
                   
                    
                </custom-variant>

            </div>

        </div>

    </div>
</div>
<script type="application/json">
    {{ product |  json }}
</script>

<script data-product-variants>
    {{ product.variants |  json }}
</script>



{% schema %}
{
    "name": "main product",
    "settings": [
        {
            "type": "color",
            "label" : "Background color",
            "id": "bg_clr"
        }
        
        ]
}
{% endschema %} 
